<nav>
  <a routerLink="/pokedisplay/25" routerLinkActive="active" (click)="onClickMe(25)">Gen 1</a>
  |
  <a routerLink="/pokedisplay/322" routerLinkActive="active" (click)="onClickMe(322)" >Gen "2"</a>
</nav>

<p *ngIf="currPoke">
 pokedisplay doesn't really work right now sorry Andrew. You shut up.
 {{pokemon}}
 {{currPoke.name}}
</p><br>
<ul *ngIf="currPoke">
  <li *ngFor="let stat of currPoke.stats">
    {{stat.stat.name}} : {{stat.base_stat}}
  </li>
</ul>

 <!--<router-outlet></router-outlet>-->